<?xml version='1.0' encoding='windows-1252'?>

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product
        Id='*'
        Name='Lumia'
        UpgradeCode='07618386-59AC-4B5C-B4E1-EBE4F8AA182E'
        Manufacturer='iFence'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package
            Id='*'
            Keywords='Installer'
            Manufacturer='iFence'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of Lumia is already installed.'/>
        <MediaTemplate EmbedCab='yes'/>

        <Icon Id='ApplicationIcon' SourceFile='crates\lumia-app\resources\icon.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ApplicationIcon'/>
        <Property Id='ARPHELPLINK' Value='https://github.com/iFence/lumia'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)'>
                <Directory Id='APPLICATIONFOLDER' Name='Lumia'>
                    <Component Id='ApplicationExecutable' Guid='*'>
                        <File
                            Id='LumiaExecutable'
                            Name='lumia-app.exe'
                            Source='$(var.CargoTargetBinDir)\lumia-app.exe'
                            KeyPath='yes'>
                            <Shortcut
                                Id='ApplicationStartMenuShortcut'
                                Directory='ApplicationProgramsFolder'
                                Name='Lumia'
                                Description='Lumia Image Viewer'
                                WorkingDirectory='APPLICATIONFOLDER'
                                Advertise='yes'/>
                            <Shortcut
                                Id='ApplicationDesktopShortcut'
                                Directory='DesktopFolder'
                                Name='Lumia'
                                Description='Lumia Image Viewer'
                                WorkingDirectory='APPLICATIONFOLDER'
                                Advertise='yes'/>
                        </File>
                        <RemoveFolder
                            Id='RemoveApplicationProgramsFolder'
                            Directory='ApplicationProgramsFolder'
                            On='uninstall'/>
                    </Component>
                    <Directory Id='PluginsFolder' Name='plugins'>
                        <Directory Id='PhotoshopPluginFolder' Name='lumia-plugin-photoshop'>
                            <Component Id='PhotoshopPluginExecutable' Guid='*'>
                                <File
                                    Id='PhotoshopPluginExe'
                                    Name='lumia-plugin-photoshop.exe'
                                    Source='$(var.CargoTargetBinDir)\lumia-plugin-photoshop.exe'
                                    KeyPath='yes'/>
                            </Component>
                            <Component Id='PhotoshopPluginManifest' Guid='*'>
                                <File
                                    Id='PhotoshopManifestFile'
                                    Name='lumia.plugin.json'
                                    Source='plugins\lumia-plugin-photoshop\lumia.plugin.json'
                                    KeyPath='yes'/>
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='Lumia'/>
            </Directory>

            <Directory Id='DesktopFolder'/>
        </Directory>

        <Feature
            Id='Complete'
            Title='Lumia'
            Description='Installs Lumia and its official Photoshop preview plugin.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='ApplicationExecutable'/>
            <ComponentRef Id='PhotoshopPluginExecutable'/>
            <ComponentRef Id='PhotoshopPluginManifest'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>
    </Product>
</Wix>
